.card {
    margin-left: 10%;
    margin-right: 10%;
}

#addBook{
    display: grid;
    grid-template-rows: max-content max-content;
    grid-gap: 5px;
}

#addBook label {
    text-align:right;
}

#addBook label:after {
    content: ":";
}

#collection{
    display: inline-block;
    color:black;
}

    #collectionTitles{
        display: inherit;
    }

    #collectionAuthors{
        display: inherit;
    }

    #collectionISBN {
        display: inherit;
    }

#submitButton {
    color: black;
}