.body {
    margin:0;
    padding:0;
}

.card {
    margin-top:10px;
    
    border-style: outset;
    border-width: 2px;
    box-shadow: 2px 2px grey;
    overflow: hidden;
    min-width: 500px;
    max-width: 750px;
    
}
/* 
#addBook{
    display: grid;
    grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: max-content max-content; */
    /* grid-auto-rows: 100px;
    grid-gap: 5px;
} */

.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-auto-rows: 25px;
    text-align: center;
    justify-content: center;
    height: 100%;
    background-color: lightgray;
  }

    .one {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        /* background-color:red; */
        
    }

    .two {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        /* background-color:blue; */
    }

    .three {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        /* background-color:green; */
    }

    .four {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        /* background-color: purple; */
    }


    #submitButton{
        width: 100%;
    }
    #isbnField {
        grid-column-start: 2;
        grid-row-start: 2;

    }

    #addBook label {
        text-align:right;
    }

    #addBook label::after {
        content: ":";
    }

.seperator {
    margin-bottom:0;
    color:red;
    padding:0;
    margin-top: 0;
}
#collection{
    color:black;
    display: grid;
    overflow: hidden;
    position: relative;
    background-color: lightgray;
    padding-top: 0;
}

    #collection label{
        color:maroon;
        margin: 25%;
        text-decoration: underline;

    }

    .five{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: auto;
        /* background-color: red; */
    }

    .six{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: auto;
        /* background-color: blue; */

    }

    .seven{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: auto;
        /* background-color: green; */
    }

    #DELETE{
        color:red;
        grid-column-start: 4;
        grid-column-end: 5;
        /* justify-content: right; */
        display: block;
        position: relative;
    }
        
    #deleteBtns{
        color:red;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: auto;
        /* background-color:blue; */
        /* justify-content: center; */
        text-align: center;
        padding-top: 35px;
       
    }

/* .deleteStuff {
    margin-bottom: 5px;
    color: black;
    display: inline-block;
} */

